@charset "UTF-8";

/* Particulas */
 /* ---- particles.js container ---- */ 
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #120225; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
 /* ---- stats.js ---- */ 
 .count-particles{ background: #000022; position: fixed; top: 48px; left: 0; width: 80px; } 
 .js-count-particles{ font-size: 1.1em; } 
 #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
 #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
 .count-particles{ border-radius: 0 0 3px 3px; }

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* vai ficar atrás de tudo */
    background: #120225;
}

/* Centraliza o conteúdo */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    z-index: 10; /* fica acima das partículas */
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.596);
}

main img {
    width: 250px;
}

main h4 {
    margin-top: -70px;
}

main form {
    margin-top: 70px;
}