@charset "UTF-8";

/* Particulas */
 /* ---- particles.js container ---- */ 
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #120225; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
 /* ---- stats.js ---- */ 
 .count-particles{ background: #000022; position: fixed; top: 48px; left: 0; width: 80px; } 
 .js-count-particles{ font-size: 1.1em; } 
 #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
 #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
 .count-particles{ border-radius: 0 0 3px 3px; }

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* vai ficar atrás de tudo */
    background: #120225;
}

/* Centraliza o conteúdo */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main {
    z-index: 10; /* fica acima das partículas */
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.596);
}

main img {
    width: 250px;
}

main h4 {
    margin-top: -70px;
    color: rgb(135, 67, 199);
    font-size: 1.2em;
}

main form {
    margin-top: 70px;
}

form p {
    font-weight: bold;
    color: rgb(175, 28, 243);
    text-align: left;
}

form input {
    width: 100%;
    margin-top: 5px;
    padding: 12px 0px;
    border: none;
    border-radius: 15px;
    background-color: rgb(91, 55, 133);
    transition-duration: 0.5s;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.541);
    padding: 15px;
    font-size: 0.9em;
}

input.texbox:focus {
    scale: 105%;
}

p#politica {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

p#politica input {
    display: inline-block;
    width: 20px;
}

input#button {
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(143, 24, 199);
}

input#button:hover {
    transform: scale(110%);
    background-color: rgb(173, 69, 221);
}